.recipe {
  font-size: 20px;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.recipe-content {
  padding: 10px;
}

.recipe h1,
h2,
h3,
h4,
h5 {
  line-height: 100%;
  margin: 0;
}

.recipe-score * {
  display: inline-block;
}

.recipe-image {
  margin: auto;
  max-width: 330px;
  max-height: 600px;
}

.recipe-body ul {
  margin-top: 5px;
}
