.recipe {
  font-size: 20px;
  text-align: left;
  display: flex;
  flex-direction: row;
}

.recipe-content {
  padding: 10px;
}

.recipe h1,
h2,
h3,
h4,
h5 {
  line-height: 100%;
  margin: 0;
}

.recipe-score * {
  display: inline-block;
}

.recipe-image {
  max-width: 350px;
  max-height: 600px;
}

.recipe-body ul {
  margin-top: 5px;
}
